[submodule "World/lodepng"]
	path = World/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "World/rapidjson"]
	path = World/rapidjson
	url = https://github.com/ishellstrike/rapidjson.git
